<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create homework page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Create Homework</h1>
        <h1 class="subheader">Enter new data</h1>
    </div>
    <div class="main-area">
        <form action="/homeworks/create" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td class="text" type="hidden"></td>
                    <td><input type="hidden" name="student.id" th:value="${user.id}"></td>
                </tr>
                <tr>
                    <td class="text">Comment</td>
                    <td><textarea type="text" name="comment" class="scrolling"></textarea></td>

                </tr>
                <tr>
                    <td class="text">Add file</td>
                    <td><input type="hidden" name="fileLink.link">
                        <input type="file" name="file_upload"/>
                    </td>
                </tr>

            </table>
            <button type="submit" class="button-active"> Create</button>
        </form>
    </div>
</div>
</body>
</html>
