<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Create User</h1>
        <h2 class="subheader">Complete your<br> user profile</h2>
    </div>
    <div class="main-area">
        <form action="/users/create" method="post">
            <table>
                <tr>
                    <td class="text-left-column">Email</td>
                    <td><input type="text" placeholder="Enter email" name="email"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Password</td>
                    <td><input type="text" placeholder="Enter password" name="password"></td>
                </tr>
                <tr>
                    <td class="text-left-column">First name</td>
                    <td><input type="text" placeholder="Enter first name" name="firstName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Last name</td>
                    <td><input type="text" placeholder="Enter last name" name="lastName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Patronymic name</td>
                    <td><input type="text" placeholder="Enter patronymic name" name="patronymicName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Contact preferences</td>
                    <td><input type="text" placeholder="Enter contact preferences" name="contactPreferences"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Social media</td>
                    <td><input type="text" placeholder="Enter social media" name="socialMedia"></td>
                </tr>

            </table>
            <button type="submit" class="button-active">Create</button>
        </form>
    </div>
</div>
</body>
</html>
