<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="menu">
    <img src="paris.jpg" alt="logo" style="width:50px">
    <p class="text">Home</p>
    <p class="text">Users</p>
    <p class="text">Courses</p>
    <p class="text">Requests</p>
    <p class="text" style="width:50%"></p>
    <p class="text">Sign in | Sign up</p>
</div>

<div class="left-side-area">
    <p class="header">HEADER</p>
    <p class="subheader">SUBHEADER</p>
    <p class="subheader">SUBHEADER</p>
    <button class="button-active">Button active</button>
    <button class="button-readonly" disabled>Button readonly</button>
    <input type="text" placeholder="Input email">
    <input type="text" placeholder="Input role" disabled>
    <text class="text">General text</text>
    <p class="subscript">Subscript</p>
    <a href="#popup">Popup</a>
    <div id="popup">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        <button class="button">OK</button>
    </div>
</div>

<div>
    <table class="table">
        <thead>
        <tr class="table-header">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Password</td>
            <td>Role</td>
            <td>Social Media</td>
        </tr>
        </thead>
        <tr class="table-data">
            <td>Haliana</td>
            <td>Sidoric</td>
            <td>galina_sid@gmail.com</td>
            <td>sid93LL</td>
            <td>STUDENT</td>
            <td>@Sid</td>
        </tr>
        <tr class="table-data">
            <td>Nazar</td>
            <td>Vahtongov</td>
            <td>vagan@mail.ru</td>
            <td>333eeeddfd</td>
            <td>TRAINER</td>
            <td>@Nazar</td>
        </tr>
        <tr class="table-data">
            <td>Tatyana</td>
            <td>Minikova</td>
            <td>tMin@tut.by</td>
            <td>trewrg</td>
            <td>STUDENT</td>
            <td>#Minik</td>
        </tr>
    </table>
</div>

</body>
</html>