<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Error</h1>
        <h2 class="subheader">We are sorry, but there is an error</h2>
    </div>
    <div class="main-area">
        <h2 class="header">Sorry, Error...</h2>
        <h3 th:text="${message} == null ? 'Something went wrong...' : ${message}"></h3>
    </div>
</div>
</body>
</html>
