<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome/main.css}">
</head>

<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Homework</h1>
        <h2 class="subheader">Homework Detail Info</h2>

    </div>

    <div>
        <table>
            <tr>
                <td class="text-left-column">Comment</td>
                <td><input type="text" th:value=${homework.comment} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Filelink (temp info)</td>
                <td><input type="text" th:value=${homework.fileLink.link} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Homework mark</td>
                <td><input type="text" th:value=${homework.mark} disabled></td>
            </tr>
        </table>
        <a th:href="'/homeworks/student/' + ${homework.student.id}" class="button-active">To homeworks</a>
        <a th:href="'/homeworks/update/' + ${homework.id}"
           sec:authorize="hasAnyAuthority('TRAINER', 'STUDENT', 'MANAGER')"
           class="button-active">Edit</a>
    </div>
</div>
</body>
</html>
