<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Homework</h1>
        <h2 class="subheader">Homework Detail Info</h2>
    </div>
    <div class="main-area">
        <h4>Full student name</h4>
        <p th:text="${homework.student.firstName} + ' ' + ${homework.student.lastName} + ' ' + ${homework.student.patronymicName} ">
            Full name</p>
        <h4>Comment</h4>
        <p th:text="${homework.comment}">Comment</p>
        <h4>Filelink (temp info)</h4>
        <p th:text="${homework.fileLink}">File link</p>
        <h4>Homework mark</h4>
        <p th:text="${homework.mark}">Mark</p>
    </div>
</div>
</body>
</html>
