<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome/main.css}">
</head>

<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Homework</h1>
        <h2 class="subheader">Homework Detail Info</h2>
        <a th:href="'/lessons/homework/' + ${homework.id}" class="button-active">To lessons</a>
    </div>

    <div>
        <table>
            <tr>
                <td class="text">Lesson</td>
                <td><h3 th:text="${lesson.title}"></h3></td>
                <input type="hidden" name="lesson.id" th:value="${lesson.id}" disabled>
            </tr>
            <tr>
                <td class="text">Comment</td>
                <td><textarea type="text" th:text=${homework.comment} name="comment" class="scrolling" disabled></textarea></td>
            </tr>
            <tr>
                <td class="text-left-column">Filelink (temp info)</td>
                <td>
                    <input type="text" th:value=${homework.fileLink.link} disabled>
                    <a th:href="@{/file/__${file_name}__}" class="button-active" download>Download file</a>
                </td>
            </tr>
            <tr>
                <td class="text-left-column">Homework mark</td>
                <td><input type="text" th:value=${homework.mark} disabled></td>
            </tr>
        </table>
        <a th:href="'/homeworks/student/' + ${homework.student.id}" class="button-active">To homeworks</a>
        <a th:href="'/homeworks/update/' + ${homework.id}"
           sec:authorize="hasAnyAuthority('TRAINER', 'STUDENT', 'MANAGER')"
           class="button-active">Edit</a>
    </div>
</div>
</body>
</html>
