<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Title_LMS_Main.text}">LMS - Main Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="~{plugins/menu::menu}"></div>
<div class="main">
    <div class="left-side-area">
        <h1 class="header" th:text="#{LMS.text}">Learning Management System</h1>
        <h2 class="subheader" th:text="#{Welcome.text}">Welcome to the Learning Management System. Wish you a happy
            journey!</h2>
    </div>
    <div class="main-area">
        <img class="home-background" th:src="@{/images/home/home_background.png}" alt="Man and woman with laptops"/>
    </div>
</div>
</body>
</html>
