<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS - Main Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="~{plugins/menu :: menu}" class="manu"></div>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Learning Management System</h1>
        <h2 class="subheader">Welcome to the Learning Management System. Wish you a happy journey!</h2>
    </div>
    <div class="main-area"></div>
</div>
</body>
</html>
