<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Information</h1>
        <h2 class="subheader">Display User Information Message</h2>
    </div>
    <div class="main-area">
        <h2 class="header">User Information Message</h2>
        <h3 th:text="${message}"></h3>
    </div>
</div>
</body>
</html>
