<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
    <script defer src="/js/jquery-3.6.1.js"></script>
    <script type="module" src="/js/password-confirmation.js"></script>
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Password Recovery</h1>
        <h2 class="subheader">Set up a new password for your account</h2>
    </div>
    <div class="main-area">
        <form th:action="@{/auth/changePassword}" method="POST">
            <table>
                <input type="hidden" name="userId" th:value="${userId}">
                <tr>
                    <td class="text">New password</td>
                    <td><input id="input-password" type="password" placeholder="Enter new password" name="newPassword" required></td>
                </tr>
                <tr>
                    <td class="text">Confirm password</td>
                    <td><input id="input-confirm-password" type="password" placeholder="Confirm password" name="confirmPassword" required></td>
                </tr>
            </table>
            <input id="input-submit" type="submit" value="Change"/>
        </form>
    </div>
</div>
</body>
</html>
