<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>

<h1>Please enter new password</h1>

<form th:action="@{/auth/changePassword}" method="POST">
    <table>
        <input type="hidden" name="userId" th:value="${userId}">
        <tr>
            <td class="text">New password</td>
            <td><input type="password" placeholder="Enter new password" name="newPassword" required></td>
        </tr>
        <tr>
            <td class="text">Confirm password</td>
            <td><input type="password" placeholder="Confirm password" name="confirmPassword" required></td>
        </tr>
    </table>
    <input type="submit" value="Change" />
</form>
</body>
</html>