<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">[[${user.firstName}]] Personal Page</h1>
        <h2 class="subheader">Information about the user</h2>
        <a th:href="'/users/update/' + ${user.id}" class="button-active">Edit personal data</a>
        <a th:href="'/homeworks/student/' + ${user.id}" class="button-active" title="Go to hWork"
           sec:authorize="hasAnyAuthority('STUDENT', 'TRAINER')">Homeworks</a>
        <a sec:authorize="hasAnyAuthority('MANAGER', 'TRAINER')" href="/lessons"
           class="button-active">Lessons</a>
        <a sec:authorize="hasAnyAuthority('STUDENT')" th:href="'/homeworks/create'" class="button-active">Create
            homework</a>
        <a sec:authorize="hasAnyAuthority('STUDENT')" th:href="@{/requests/student/__${#authentication.name}__}"
           class="button-active">My requests</a>
        <a sec:authorize="hasAnyAuthority('MANAGER')" href="/users/create" class="button-active">Create new user</a>
    </div>
    <div class="main-area">
        <table>
            <table class="table" sec:authorize="hasAnyAuthority('MANAGER')">
                <h3 class="subheader">New requests:</h3>
                <div th:insert="~{plugins/pagination::pagination}" th:with="firstVer=${requests}"></div>
                <tr class="table-header">
                    <th></th>
                    <th></th>
                    <th>Users</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="request : ${requests}" class="table-data">
                    <td>
                        <a th:href="@{/requests/__${request.id}__}" class="button">
                            <i class="fa-solid fa-eye" title="View"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/requests/update/__${request.id}__}" class="button">
                            <i class="fa-solid fa-file-pen" title="Edit"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/users/__${request.user.id}__}"
                           th:text="${request.user.firstName} + ' ' + ${request.user.lastName}">User</a>
                    </td>
                    <td>
                        <a th:href="@{/courses/__${request.course.id}__}" th:text="${request.course.title}">Course</a>
                    </td>
                    <td th:text="${request.status}"></td>
                    <td>
                        <form th:action="'/requests/update/' + ${request.id}" method="post">
                            <input type="hidden" name="user.id" th:value="${request.user.id}">
                            <input type="hidden" name="course.id" th:value="${request.course.id}">
                            <input type="hidden" name="status" th:value="CANCELLED">
                            <input type="hidden" name="uri" th:value=@{/users/personal}>
                            <input type="submit" value="Deactivate" class="button-active"/>
                        </form>
                        <form th:action="'/requests/update/' + ${request.id}" method="post">
                            <input type="hidden" name="user.id" th:value="${request.user.id}">
                            <input type="hidden" name="course.id" th:value="${request.course.id}">
                            <input type="hidden" name="status" th:value="APPROVED">
                            <input type="hidden" name="uri" th:value=@{/users/personal}>
                            <input type="submit" value="Confirm" class="button-active"/>
                        </form>
                    </td>
                </tr>
            </table>
            <table class="table" th:unless="${courses.empty}">
                <h3 class="subheader">Courses:</h3>
                <div th:insert="~{plugins/pagination::pagination}" th:with="firstVer=${courses}"></div>
                <thead>
                <tr class="table-header">
                    <th></th>
                    <th sec:authorize="hasAnyAuthority('MANAGER')"></th>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th sec:authorize="hasAnyAuthority('STUDENT', 'TRAINER')">Description</th>
                    <th sec:authorize="hasAnyAuthority('TRAINER')">Users on course</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="course : ${courses}">
                    <tr class="table-data">
                        <td>
                            <a th:href="'/courses/' + ${course.id}">
                                <i class="fa-solid fa-eye" title="View"></i>
                            </a>
                        </td>
                        <td sec:authorize="hasAnyAuthority('MANAGER')">
                            <a th:href="'/courses/updateForm/' + ${course.id}">
                                <i class="fa-solid fa-file-pen" title="Edit" th:attr="title=#{Edit.text}"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="'/courses/' + ${course.id}" th:text="${course.title}"></a>
                        </td>
                        <td sec:authorize="hasAnyAuthority('STUDENT', 'TRAINER')" th:text="${course.startDate}"></td>
                        <td sec:authorize="hasAnyAuthority('MANAGER')">
                            <form th:action="'/courses/update/' + ${course.id}" method="post">
                                <input type="hidden" name="course.id" th:value="${course.id}">
                                <input type="hidden" th:value=${course.title} name="title">
                                <input type="hidden" th:value=${course.price} name="price">
                                <input type="hidden" th:value=${course.description} name="description">
                                <input type="hidden" th:value=${course.trainer.id} name="trainer.id">
                                <input type="date" th:value="${course.startDate}" name="localDate">
                                <p><input type="submit" value="Update" class="button-active"/></p>
                            </form>
                        </td>
                        <td sec:authorize="hasAnyAuthority('STUDENT', 'TRAINER')" th:text="${course.description}"></td>
                        <td sec:authorize="hasAnyAuthority('TRAINER')">
                            <a th:href="'/users/' + ${request.user.id}" th:each="request: ${requests}"
                               th:if="${request.course.id == course.id} and ${request.status.toString()} == 'SATISFIED'"
                               th:text="${request.user.firstName} + ' ' + ${request.user.lastName} + ' | '"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <table>
                <tr>
                    <td class="text-left-column">Email</td>
                    <td><input type="text" th:value=${user.email} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">First name</td>
                    <td><input type="text" th:value=${user.firstName} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Last name</td>
                    <td><input type="text" th:value=${user.lastName} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Patronymic name</td>
                    <td><input type="text" th:value=${user.patronymicName} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Contact preferences</td>
                    <td><input type="text" th:value=${user.contactPreferences} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Social media</td>
                    <td><input type="text" th:value=${user.socialMedia} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Role</td>
                    <td><input type="text" th:value=${user.role} disabled></td>
                </tr>

            </table>
        </table>
    </div>
</div>
</body>
</html>