<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recover password</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>

<h1>Please enter email for confirm to change password</h1>

<form th:action="@{/auth/recoveryPass}" method="POST">
        <table>
            <tr>
                <td class="text" align="right" wight="20%">Email</td>
                <td><input type="email" placeholder="Enter email" name="email" required></td>
            </tr>
        </table>
    <h4>A link to reset your password will be sent to your email address.</h4>
    <input type="submit" value="Submit" />
</form>
</body>
</html>