<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav th:replace="~{/plugins/menu :: menu}" class="menu"></nav>

<div class="left-side-area">
    <h1 class="header">View</h1>
    <h2>Request number: <span th:text="${request.id}"></span></h2>
</div>
<div class="main-area">
    <ul>
        <li th:text="${request.user.firstName} + ' ' + ${request.user.lastName}">User</li>
        <li th:text="${request.course.title}">Title course<</li>
        <li th:text="${request.status}">Status<</li>
    </ul>
</div>

<a th:href="@{/requests/update/__${request.id}__}" class="button">Edit request</a>

<a href="#" onclick="history.back();return false;" class="button">
    <-Back</a>
</body>
</html>
