<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}"></nav>

<div class="main">
    <div class="left-side-area">
        <h1 class="header">Edit User</h1>
        <h1 class="subheader">Change user<br> information</h1>

    </div>

    <div>
        <form th:action="'/users/update/' + ${user.id}" method="post">
            <table>
                <tr>
                    <td class="text-left-column">Email</td>
                    <td><input type="text" th:value=${user.email} name="email"></td>
                </tr>
                <tr>
                    <td class="text-left-column">First name</td>
                    <td><input type="text" th:value=${user.firstName} name="firstName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Last name</td>
                    <td><input type="text" th:value=${user.lastName} name="lastName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Patronymic name</td>
                    <td><input type="text" th:value=${user.patronymicName} name="patronymicName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Contact preferences</td>
                    <td><input type="text" th:value=${user.contactPreferences} name="contactPreferences"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Social media</td>
                    <td><input type="text" th:value=${user.socialMedia} name="socialMedia"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Role</td>
                    <td><input type="text" th:value=${user.role} name="role"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Is active</td>
                    <td><input type="text" th:value=${user.isActive} disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column" hidden>Password</td>
                    <td><input type="text" th:value=${user.password} name="password" hidden></td>
                </tr>

            </table>
            <button type="submit" class="button-active">Save</button>
        </form>
    </div>
</div>
</body>
</html>
