<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit request</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}" class="menu"></nav>

<div class="left-side-area">
    <h1 class="header">Update</h1>
    <h2>Request number: <span th:text="${request.id}"></span></h2>
</div>

<div class="main-area">
    <form th:action="'/requests/update/' + ${request.id}" method="post" th:object="${request}">
        <table>
            <tr>
                <td>User name</td>
                <td><input type="text" th:value="*{user.firstName} + ' ' + *{user.lastName}" disabled></td>
            </tr>
            <tr>
                <td>Curse</td>
                <td><input type="text" th:value=*{course.title} disabled></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><select name="status">
                    <option value="PROCESSING">PROCESSING
                    <option value="APPROVED">APPROVED
                    <option value="PAID">PAID
                    <option value="SATISFIED">SATISFIED
                    <option value="CANCELLED">CANCELLED
                </select>
                </td>
            </tr>
            <tr>
                <td>Active status</td>
                <td th:text="*{status}"></td>
            </tr>
        </table>
        <input type="submit" name="submit" value="Edit request" class="button-active"/>
    </form>
</div>

<a href="#" onclick="history.back();return false;" class="button-active">
    <-Back</a>

</body>
</html>
