<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update homework</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Update homework</h1>
        <h2 class="subheader">Change homework<br> information</h2>
    </div>
    <div class="main-area">
        <form th:action="'/homeworks/update/' + ${homework.id}" method="post">
            <table>
                <tr>
                    <td class="text-left-column">Full name</td>
                    <td><input type="text" th:value="${homework.student.firstName} + ' '
                        + ${homework.student.lastName} + ' '
                        + ${homework.student.patronymicName} "></td>
                </tr>
                <tr>
                    <td class="text-left-column" hidden>Student ID</td>
                    <td><input type="text" th:value=${homework.student.id} name="student.id" hidden></td>
                </tr>
                <tr>
                    <td class="text-left-column">Comment</td>
                    <td><input type="text" th:value=${homework.comment} name="comment"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Mark</td>
                    <td><input type="text" th:value=${homework.mark} name="mark"></td>
                </tr>
            </table>
            <button type="submit" class="button-active">Save</button>
        </form>
    </div>
</div>
</body>
</html>
