<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Edit User</h1>
        <h2 class="subheader">Change user<br> information</h2>
        <a sec:authorize="hasAnyAuthority('STUDENT', 'MANAGER')" th:href="'/auth/updatePassword/' + ${user.id}"
           class="button-active">Change password</a>
    </div>
    <div class="main-area">
        <form th:action="'/users/update/' + ${user.id}" method="post">
            <table>
                <tr>
                    <td class="text-left-column">Email</td>
                    <td><input type="text" th:value=${user.email} name="email"></td>
                </tr>
                <tr>
                    <td class="text-left-column">First name</td>
                    <td><input type="text" th:value=${user.firstName} name="firstName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Last name</td>
                    <td><input type="text" th:value=${user.lastName} name="lastName"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Patronymic name</td>
                    <td><input type="text" th:value=${user.patronymicName} name="patronymicName"></td>
                </tr>
                <tr>
                    <td class="text">Contact preferences</td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'TELEGRAM'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM" selected>TELEGRAM
                            <option value="INSTAGRAM">INSTAGRAM
                            <option value="VIBER">VIBER
                            <option value="WHATSAPP">WHATSAPP
                            <option value="EMAIL">EMAIL
                            <option value="CELLPHONE">CELLPHONE
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'INSTAGRAM'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM">TELEGRAM
                            <option value="INSTAGRAM" selected>INSTAGRAM
                            <option value="VIBER">VIBER
                            <option value="WHATSAPP">WHATSAPP
                            <option value="EMAIL">EMAIL
                            <option value="CELLPHONE">CELLPHONE
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'VIBER'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM">TELEGRAM
                            <option value="INSTAGRAM">INSTAGRAM
                            <option value="VIBER" selected>VIBER
                            <option value="WHATSAPP">WHATSAPP
                            <option value="EMAIL">EMAIL
                            <option value="CELLPHONE">CELLPHONE
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'WHATSAPP'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM">TELEGRAM
                            <option value="INSTAGRAM">INSTAGRAM
                            <option value="VIBER">VIBER
                            <option value="WHATSAPP" selected>WHATSAPP
                            <option value="EMAIL">EMAIL
                            <option value="CELLPHONE">CELLPHONE
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'EMAIL'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM">TELEGRAM
                            <option value="INSTAGRAM">INSTAGRAM
                            <option value="VIBER">VIBER
                            <option value="WHATSAPP">WHATSAPP
                            <option value="EMAIL" selected>EMAIL
                            <option value="CELLPHONE">CELLPHONE
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.contactPreferences)} == 'CELLPHONE'">
                        <select name="contactPreferences">
                            <option value="TELEGRAM">TELEGRAM
                            <option value="INSTAGRAM">INSTAGRAM
                            <option value="VIBER">VIBER
                            <option value="WHATSAPP">WHATSAPP
                            <option value="EMAIL">EMAIL
                            <option value="CELLPHONE" selected>CELLPHONE
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-left-column">Social media</td>
                    <td><input type="text" th:value=${user.socialMedia} name="socialMedia"></td>
                </tr>
                <tr sec:authorize="hasAnyAuthority('MANAGER')">
                    <td class="text-left-column">Role</td>
                    <td th:if="${#strings.toString(user.role)} == 'STUDENT'">
                        <select name="role">
                            <option value="STUDENT" selected>STUDENT
                            <option value="TRAINER">TRAINER
                            <option value="MANAGER">MANAGER
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.role)} == 'TRAINER'">
                        <select name="role">
                            <option value="STUDENT">STUDENT
                            <option value="TRAINER" selected>TRAINER
                            <option value="MANAGER">MANAGER
                        </select>
                    </td>
                    <td th:if="${#strings.toString(user.role)} == 'MANAGER'">
                        <select name="role">
                            <option value="STUDENT">STUDENT
                            <option value="TRAINER">TRAINER
                            <option value="MANAGER" selected>MANAGER
                        </select>
                    </td>
                </tr>
                <tr sec:authorize="hasAnyAuthority('MANAGER')">
                    <td class="text-left-column">Is active</td>
                    <td th:if="${user.isActive} == true">
                        <select name="isActive">
                            <option name="isActive" value="1" selected>True
                            <option name="isActive" value="0">False
                        </select>
                    </td>
                    <td th:if="${user.isActive} == false">
                        <select name="isActive">
                            <option name="isActive" value="1">True
                            <option name="isActive" value="0" selected>False
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-left-column" hidden>Password</td>
                    <td><input type="text" th:value=${user.password} name="password" hidden></td>
                </tr>
                <!--                <tr sec:authorize="hasAnyAuthority('STUDENT')">-->
                <!--                    <td><input type="text" th:value=${user.role} name="role" hidden></td>-->
                <!--                    <td><input type="text" th:value=${user.isActive} hidden></td>-->
                <!--                </tr>-->
            </table>
            <button type="submit" class="button-active">Save</button>
        </form>
    </div>
</div>
</body>
</html>
