<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit request</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}" class="menu"></nav>

<div class="left-side-area">
    <h1 class="header">Create</h1>
    <h2>Request number: <span th:text="${request.id}"></span></h2>
</div>

<div class="main-area">
    <form method="post" th:object="${request}">
        <ul>
            <li th:text="*{user.firstName} + ' ' + *{user.lastName}">User</li>
            <li><input type="text" th:field="*{course.title}" th:placeholder="*{course.title}"
                       th:value="*{course.title}" class="input">
                <input type="hidden" th:field="*{course.id}" th:value="*{course.id}" class="input">Title course
            </li>
            <li>
                <select name="status">
                    <option value="PROCESSING">PROCESSING
                    <option value="APPROVED">APPROVED
                    <option value="PAID">PAID
                    <option value="SATISFIED">SATISFIED
                    <option value="CANCELLED">CANCELLED
                </select>
                <p>Active status: <span th:text="*{status}"></span></p>
            </li>
        </ul>
        <input type="submit" name="submit" value="Edit request" class="button"/>
    </form>
</div>

<a href="#" onclick="history.back();return false;" class="button">
    <-Back</a>

</body>
</html>
