<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">User</h1>
        <h2 class="subheader">Information<br> about the user</h2>
        <a sec:authorize="hasAnyAuthority('STUDENT', 'MANAGER')" th:href="'/users/update/' + ${user.id}" class="button-active">Edit</a>
        <a sec:authorize="hasAnyAuthority('STUDENT')" th:href="'/auth/updatePassword/' + ${user.id}" class="button-active">Change password</a>
    </div>
    <div class="main-area">
        <table>
            <tr>
                <td class="text-left-column">Email</td>
                <td><input type="text" th:value=${user.email} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">First name</td>
                <td><input type="text" th:value=${user.firstName} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Last name</td>
                <td><input type="text" th:value=${user.lastName} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Patronymic name</td>
                <td><input type="text" th:value=${user.patronymicName} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Contact preferences</td>
                <td><input type="text" th:value=${user.contactPreferences} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Social media</td>
                <td><input type="text" th:value=${user.socialMedia} disabled></td>
            </tr>
            <tr sec:authorize="hasAnyAuthority('MANAGER')">
                <td class="text-left-column">Role</td>
                <td><input type="text" th:value=${user.role} disabled></td>
            </tr>
            <tr sec:authorize="hasAnyAuthority('MANAGER')">
                <td class="text-left-column">Is active</td>
                <td><input type="text" th:value=${user.isActive} disabled></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>
