<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}" ></nav>

<div class="left-side-area">
    <h1 class="header">User</h1>
    <h1 class="subheader">Information about the user</h1>

    <a th:href="'/users/update/' + ${user.id}" class="button-active">Edit</a>

</div>

<div>
    <table>
        <tr>
            <td class="text" align="right" wight="20%">Email</td>
            <td><input type="text" th:value=${user.email} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Password</td>
            <td><input type="text" th:value=${user.password} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">First name</td>
            <td><input type="text" th:value=${user.firstName} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Last name</td>
            <td><input type="text" th:value=${user.lastName} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Patronymic name</td>
            <td><input type="text" th:value=${user.patronymicName} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Contact preferences</td>
            <td><input type="text" th:value=${user.contactPreferences} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Social media</td>
            <td><input type="text" th:value=${user.socialMedia} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Role</td>
            <td><input type="text" th:value=${user.role} disabled></td>
        </tr>
        <tr>
            <td class="text" align="right">Is active</td>
            <td><input type="text" th:value=${user.isActive} disabled></td>
        </tr>

    </table>
</div>

</body>
</html>
