<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<div align="center">
    <table border="1">
        <caption><h2>List of Homeworks</h2></caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Comment</th>
            <th>File link</th>
            <th>Mark</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="homework : ${homeworks}">
            <tr>
                <td th:text="${homework.id}"></td>
                <td th:text="${homework.student}"></td>
                <td th:text="${homework.comment}"></td>
                <td th:text="${homework.fileLink}"></td>
                <td th:text="${homework.mark}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>