body {
    font-family: Sans-serif, sans-serif;
    background: bisque;
    margin: 0;
}

.menu {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #00bfff;
    margin: 0 0 50px 0;
}

.logo {
    width: 68px;
}

.notification {
    background: white;
    min-height: 100px;
    width: 300px;
    position: absolute;
    margin-left: 40%;
    margin-top: 20%;
    border: solid black 1px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey;
    z-index: 10000;
}

.notification_title {
    background: #00bfff;
    border: solid black 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    text-align: center;
    margin: -1px;
}

.notification_content {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 50px;
}

.notification_ok {
    position: absolute;
    width: 50px;
    height: 25px;
    margin-top: -35px;
    margin-left: 125px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 15px;
}

.menu-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
}

.home-background {
    margin: 5px;
    width: 98%;
    height: 100%;
}

.left-side-area {
    width: 20%;
    min-width: 250px;
    max-width: 500px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: left;
    margin-right: 3%;
    text-align: right;
}

.main-area {

}

.header {
    color: #00bfff;
    font: italic bold 40px Arial;
    margin: 15px 0 15px 0;
}

.subheader {
    color: black;
    font: italic bold 25px Arial;
    margin: 15px 0 15px 0;
}

li {
    list-style-type: none;
}

.table {
    border-collapse: collapse;
    max-width: 1000px;
    margin-right: 15px;
}

.table tbody {
    background: white;
}

td, th {
    padding: 5px;
}

.pagination {
    margin: 3px 5px 3px 5px;
}

.table-header {
    background: #00bfff;
    border: grey 2px solid;
    font: bold 15px Arial;
}

.table-data {
    border: grey 2px solid;
    font: 12px Arial;
}

.button {
    color: black;
    border-radius: 5px;
}


.button-active {
    border: 1px solid #ccc;
    background: #eaeaea;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font: 15px Arial;
    margin: 20px 0 20px 0;
}


.button-readonly {
    border-radius: 5px;
    font: 15px Arial;
    margin: 20px 0 20px 0;
}

input {
    font: 15px Arial;
    margin: 20px 0 20px 0;
}

input:focus {
    color: #00bfff;
}

input:disabled {
}

.text {
    font: italic 15px Arial;
    margin: 0 15px 0 15px;
}

.text-left-column {
    font: italic 15px Arial;
    text-align: right;
    min-width: 50px;
    margin: 0 15px 0 15px;
}

.subscript {
    font-size: smaller;
}

#popup {
    width: 200px;
    font: 13px Arial;
    padding: 15px;
    border: grey 1px solid;
    border-radius: 10px;
    color: black;
    display: none;
}

#popup:target {
    display: block;
}

.scrolling {
    height: 50px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
}
