<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<p th:text="${lesson.id}">ID</p>
<p th:text="${lesson.title}">Title</p>
<p th:text="${lesson.startTime}">Start time</p>
<p th:text="${lesson.description}">Description</p>
<p th:text="${lesson.content}">Content</p>
<p th:text="${lesson.homeTask}">Home task</p>
</body>
</html>
