<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Lesson</h1>
        <h1 class="subheader" th:unless="${course} == null or ${course.title.empty}"
            th:text="'Information about the lesson ' + ${course.title}">Information about the lesson</h1>
        <h1 class="subheader" th:if="${course} == null or ${course.title.empty}">Information about the lesson (Non
            Course)</h1>
        <a sec:authorize="hasAnyAuthority('STUDENT')" th:href="@{/homeworks/create?lesson=__${lesson.id}__}"
           class="button-active">Create homework</a>
    </div>
    <div>
        <h1 class="subheader" th:text="${lesson.title}"></h1>
        <h2 class="text" th:text="${lesson.description}"></h2>
        <p>Start time:</p>
        <h3 class="text" th:text="${lesson.startTime}"></h3>
        <table>
            <tr>
                <td class="text-left-column">Content</td>
                <td><input type="text" th:value="${lesson.content}" disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Home task</td>
                <td><input type="text" th:value=${lesson.homeTask} disabled></td>
            </tr>
        </table>
        <br>
        <a th:href="'/lessons/updateForm/' + ${lesson.id}" sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')"
           class="button-active">Edit</a>
        <a href="/lessons" sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')"
           class="button-active">All lessons</a>
    </div>
</div>
</body>
</html>
