<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Edit Lesson</h1>
        <h2 class="subheader">Changing lesson information</h2>

    </div>
    <div class="main-area">
        <form th:action="'/lessons/update/' + ${lesson.id}" method="post">
            <table>
                <tr>
                    <td class="text-left-column" type="hidden"></td>
                    <td><input type="hidden" th:value=${lesson.id} name="id" disabled></td>
                </tr>
                <tr>
                    <td class="text-left-column">Title</td>
                    <td><input type="text" th:value=${lesson.title} name="title"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Start time</td>
                    <td><input type="text" th:value=${lesson.startTime} name="startTime"></td>
                </tr>
                <tr>
                    <td class="text-left-column">Description</td>
                    <td>
                        <textarea class="scrolling" th:text=${lesson.description} type="text"
                                  name="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="text-left-column">Content</td>
                    <td>
                        <textarea class="scrolling" th:text=${lesson.content} type="text"
                                  name="content"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="text-left-column">Home task</td>
                    <td>
                        <textarea class="scrolling" th:text=${lesson.homeTask} type="text"
                                  name="homeTask"></textarea>
                    </td>
                </tr>
            </table>
            <button type="reset" class="button-active">Reset</button>
            <button type="submit" class="button-active">Save changes</button>
        </form>
    </div>
</div>
</body>
</html>