<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<form method="post" action="/courses/create">
    <b>Form for create new course:</b><br>
    <p><b>Enter new data</b><br>
        <input type="text" name="title"> Title<br>
        <input type="text" step="0.01" name="price"> Price<br>
        <input type="date" name="startDate"> Start date<br>
        <input type="text" name="description"> Description<br>
    <p>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </p>
</form>
</body>
</html>