<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create request</title>
</head>
<body>

<nav th:replace="~{/plugins/menu :: menu}"></nav>

<div class="left-side-area">
    <h1>Create</h1>
    <h2>Request</h2>
</div>

<div class="main-area">
    <form method="post">
        <ul>
            <li>
                <input type="text" th:name="user.id" placeholder="Enter user id">
            </li>
            <li><input type="text" th:name="course.id" placeholder="Enter course id">
            </li>
            <li>PROCESSING</li>
        </ul>
        <input type="submit" name="submit" value="Edit request"/>
    </form>
</div>
</body>
</html>
