<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
</head>
<body>

<div class="login-form">
    <h2>Login</h2>
    <form role="login" action="/login" method="post">
        <label><span class="screen-reader-text">Login:</span></label>
        <input name="login" type="email"><br>
        <label>Password:</label>
        <input name="password" type="password"><br>
        <input value="Login" type="submit">
    </form>
</div>

<a href="#" onclick="history.back();return false;" class="history-back">
    <-Back</a>

</body>
</html>