<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
<H1>Requests</H1>

<table>
    <tr>
        <th>id</th>
        <th>courses</th>
        <th>users</th>
        <th>status</th>
    </tr>

    <tr th:each="request : ${requests}" th:object="${request}">
        <td th:text="*{id}"></td>
        <td th:text="*{course.title}"></td>
        <td th:text="*{user.email}"></td>
        <td th:text="*{statusReq}"></td>
        <td>
            <form th:action="@{/request/get_by_id/__*{id}__}" method="get">
                <input type="submit" value="Change request"/>
            </form>
        </td>
    </tr>
</table>

<span th:if="${requests.totalPages > 0}" class="pagination"
      th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/request/get_all(size=${requests.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==requests.number + 1} ? active"></a>
</span>

<form align="left" action="/request/create" method="post">
    <details>
        <summary>Create New Request</summary>
        <p>Write Parameters:</p>
        <input type="hidden" name="statusReq" value="IN_PROCESSING"/>
        <span><input type="email" name="user_email" placeholder="Email User"></span>
        <span><input type="text" name="course_title" placeholder="Title course"></span>
        <span><input type="submit" name="submit" value="Create request"/></span>
    </details>
</form>

</body>
</html>