<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
<H1>Requests</H1>

<table>
    <tr>
        <th>id</th>
        <th>courses</th>
        <th>users</th>
        <th>status</th>
    </tr>

    <tr th:each="request : ${requests}">
        <form align="left" th:action="@{/request/request_update/__${request.id}__}" method="post"
              th:object="${request}">
            <td th:text="${request.id}"></td>
            <td th:text="${request.statusReq}"></td>
<!--            <span th:each="request : ${requests}">-->
<!--            <p><input type="radio" name="${request.course.title}" value="${request.course.id" }>-->
<!--                <a th:text="${request.course.title}"> title</a>-->
<!--            </p>-->
<!--        </span>            -->
            <!--                <input type="hidden" name="user" th:value="${request.user.id}"/>-->
            <!--            <td><input type="text" name="statusReq" th:placeholder="${request.statusReq}"></td>-->
            <!--                <td> <input type="submit" name="submit" value="Update request"/></td>-->
        </form>
    </tr>

</table>

<form align="left" action="/request/create" method="post">
    <details>
        <summary>Create New Request</summary>
        <p>Write Parameters:</p>
        <input type="hidden" name="statusReq" value="IN_PROCESSING"/>

        <p><input type="submit" name="submit" value="Create request"/></p>
    </details>
</form>

</body>
</html>