<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>

<nav th:replace="~{/plugins/menu :: menu}"></nav>

<div class="left-side-area">
    <h1>Show</h1>
    <h2>Requests</h2>
</div>
<div class="main-area">
    <div>
        <span>Size requests on page</span>
        <select th:onchange="'window.location.href = \'' + @{/requests?sort=id,asc} + '&size=\' + this.value'">
            <option th:text="@{Now: __${requests.getSize}__}"></option>
            <option th:text="3"></option>
            <option th:text="5"></option>
            <option th:text="7"></option>
            <option th:text="15"></option>
        </select>
    </div>

    <table>
        <tr>
            <th>View</th>
            <th>Change</th>
            <th>Delete</th>
            <th>Users</th>
            <th>Courses</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr th:each="request : ${requests}" th:object="${request}">
            <td><a th:href="@{/requests/__*{id}__}">View</a></td>
            <td><a th:href="@{/requests/update/__*{id}__}">View</a></td>
            <td></td>
            <td th:text="*{user.firstName} + ' ' + *{user.lastName}"><a th:href="@{/requests/update/__*{id}__}">View</a>
            </td>
            <td><a th:href="@{/courses/__*{id}__}" th:text="*{course.title}">Course title</a></td>
            <td th:text="*{status}"></td>
            <td></td>
        </tr>
    </table>

    <div th:insert="~{/plugins/pagination :: pagination_fr}"
         th:with="firstVer=${requests}"></div>
</div>

</body>
</html>
