<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update request</title>
</head>
<body>

<h1>Request number: <span th:text="${request.id}"></span></h1>
<table>

    <tr>
        <th>id</th>
        <th>courses</th>
        <th>users</th>
        <th>status</th>
    </tr>

    <tr th:object="${request}">
        <form align="left" th:action="@{/request/update/__*{id}__}" method="post">
            <td th:text="*{id}"><input type="hidden" name="id" th:value="*{id}"></td>
            <td><input type="text" name="course_title" th:placeholder="*{course.title}" th:value="*{course.title}"></td>
            <td><input type="email" name="user_email" th:placeholder="*{user.email}" th:value="*{user.email}"></td>
            <td>
                <p>Active status: <span th:text="*{statusReq}"></span></p>
                <p><input type="radio" name="statusReq" value="IN_PROCESSING">IN_PROCESSING</p>
                <p><input type="radio" name="statusReq" value="ASSEMBLED">ASSEMBLED</p>
                <p><input type="radio" name="statusReq" value="AWAITING_PAYMENT">AWAITING_PAYMENT</p>
                <p><input type="radio" name="statusReq" value="READY_TO_START">READY_TO_START</p>
                <p><input type="radio" value="PAID_FOR">PAID_FOR</p>
                <p><input type="radio" name="statusReq" value="COMPLETELY_CHANGED">COMPLETELY_CHANGED</p>
                <p><input type="radio" name="statusReq" value="FAILED">FAILED</p>
                <p><input type="radio" name="statusReq" value="REFUND">REFUND</p>
                <p><input type="radio" name="statusReq" value="THE_TRANSACTION_IS_COMPLETED">THE_TRANSACTION_IS_COMPLETED
                </p>
                <p><input type="radio" value="CANCELLED">CANCELLED</p>
            </td>
            <input type="hidden" name="page_now" th:value="${page}">
            <td><input type="submit" name="submit" value="Update request"/></td>
        </form>
    </tr>
</table>

<a href="#" onclick="history.back();return false;" class="history-back">
    <-Back</a>

</body>
</html>