<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5 mb-5">
    <h1>Update user</h1>
    <div th:each="el: ${user}">
        <form action="/v1.0/user/save" method="post">
            <input type="hidden" th:value="${el.id}" name="id" class="form-control"><br>
            <h3>Email</h3>
            <input type="text" th:value="${el.email}" name="email" placeholder="Enter email" class="form-control"><br>
            <h3>Password</h3>
            <input type="text" th:value="${el.password}" name="password" placeholder="Enter password"
                   class="form-control"><br>
            <h3>First name</h3>
            <input type="text" th:value="${el.firstName}" name="firstName" placeholder="Enter first name"
                   class="form-control"><br>
            <h3>Last name</h3>
            <input type="text" th:value="${el.lastName}" name="lastName" placeholder="Enter last name"
                   class="form-control"><br>
            <h3>Patronymic name</h3>
            <input type="text" th:value="${el.patronymicName}" name="patronymicName" placeholder="Enter patronymic name"
                   class="form-control"><br>
            <h3>Contact preferences</h3>
            <input type="text" th:value="${el.contactPreferences}" name="contactPreferences"
                   placeholder="Enter contact preferences" class="form-control"><br>
            <h3>Social media</h3>
            <input type="text" th:value="${el.socialMedia}" name="socialMedia" placeholder="Enter social media"
                   class="form-control"><br>
            <h3>Role</h3>
            <input type="text" th:value="${el.role}" name="role" placeholder="Enter role" class="form-control"><br>
            <button type="submit" class="btn btn-warning">Edit</button>
        </form>

    </div>
</div>

</body>
</html>
