<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{/plugins/menu :: menu}"></nav>

<div class="left-side-area">
    <h1 class="header">Course</h1>
    <h1 class="subheader">Information about the course</h1>
    <a th:href="'/courses/updateForm/' + ${course.id}" class="button-active">Edit</a>
</div>
<div>
    <i class="fa-solid fa-graduation-cap"></i>
    <p hidden th:text="${course.id}">ID</p>
    <p th:text="${course.title}">Title</p>
    <p th:text="${course.startDate}">Start date</p>
    <p th:text="${course.description}">Description</p>
    <p th:text="${course.price}">Price</p>
    <a href="#" onclick="history.back();return false;" class="button">
        <-Back</a>
</div>

</body>

</html>