<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}" ></nav>
<div class="main">
<div class="left-side-area">
    <h1 class="header">Courses</h1>
    <h1 class="subheader">List<br> of all courses</h1>
    <a href="/courses/createForm" class="button-active">Create</a>
</div>
<div>
    <div>
        <span>Size requests on page</span>
        <select th:onchange="'window.location.href = \'' + @{/courses?sort=id,asc} + '&size=\' + this.value'">
            <option th:text="@{Now: __${courses.getSize}__}"></option>
            <option th:text="3"></option>
            <option th:text="5"></option>
            <option th:text="7"></option>
            <option th:text="15"></option>
        </select>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr class="table-header">
                <th></th>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="course : ${courses}">
                <tr class="table-data">
                    <td>
                        <a th:href="'/courses/' + ${course.id}">
                            <i class="fa-solid fa-eye" title="View"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/courses/updateForm/' + ${course.id}">
                            <i class="fa-solid fa-file-pen" title="Edit"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/courses/delete/' + ${course.id}">
                            <i class="fa-solid fa-trash-can" title="Delete"></i>
                        </a>
                    </td>
                    <td>
                       <a th:href="'/courses/' + ${course.id}" th:text="${course.title}"></a>
                    </td>
                    <td th:text="${course.price}"></td>
                    <td th:text="${course.startDate}"></td>
                    <td th:text="${course.description}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div th:insert="~{plugins/pagination :: pagination_fr}"
             th:with="firstVer=${courses}">
        </div>
    </div>
</div>
</div>
</body>
</html>
