<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Course</h1>
        <h2 class="subheader">Information about the course</h2>
        <a sec:authorize="hasAuthority('MANAGER')" th:href="'/courses/updateForm/' + ${course.id}"
           class="button-active">Edit course</a>
        <h2 class="text" sec:authorize="hasAuthority('STUDENT')">Enroll in a course</h2>
        <form action="/requests/create" method="post" sec:authorize="hasAuthority('STUDENT')">
            <input type="hidden" name="user.email" th:value="${#authentication.name}">
            <input type="hidden" name="course.id" th:value="${course.id}">
            <input type="hidden" value="PROCESSING">
            <button type="submit" class="button-active">Enroll</button>
        </form>

    </div>
    <div class="main-area">
        <h1 class="subheader" th:text="${course.title}"></h1>
        <h1 class="text" th:text="${course.description}"></h1>
        <table>
            <tr>
                <td class="text-left-column">Start</td>
                <td><input type="text" th:value=${course.startDate} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Price</td>
                <td><input type="text" th:value=${course.price} disabled></td>
            </tr>
            <tr>
                <td class="text-left-column">Trainer</td>
                <td><input type="text" th:value="${course.trainer.firstName}+' '+${course.trainer.lastName}" disabled>
                </td>
            </tr>
        </table>

        <table class="table" th:unless="${course.getLessons} == null or ${course.getLessons.empty}">
            <h1 class="text">Lessons of course</h1>
            <thead>
            <tr class="table-header">
                <th sec:authorize="isAuthenticated()"></th>
                <th sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')"></th>
                <th>Title</th>
                <th>Start time</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="el: ${course.getLessons}">
                <tr class="table-data">
                    <td sec:authorize="isAuthenticated()"><a th:href="'/lessons/' + ${el.id}">
                        <i class="fa-solid fa-eye" title="View"></i>
                    </a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')"><a
                            th:href="'/lessons/updateForm/' + ${el.id}">
                        <i class="fa-solid fa-file-pen" title="Edit"></i>
                    </a>
                    </td>
                    <td><p th:text="${el.title}"></p></td>
                    <td><p th:text="${el.startTime}"></p></td>
                    <td><p th:text="${el.description}"></p></td>
                </tr>
            </div>
            </tbody>
        </table>
        <br>
        <table sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')" class="table" th:unless="${users} == null or ${users.empty}">
            <h1 sec:authorize="hasAnyAuthority('TRAINER', 'MANAGER')" class="text">Users of course</h1>
            <thead>
            <tr class="table-header">
                <th sec:authorize="hasAuthority('MANAGER')"></th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Patronymic name</th>
            </tr>
            </thead>

            <tbody>
            <div th:each="el: ${users}">
                <tr class="table-data">
                    <td sec:authorize="hasAuthority('MANAGER')"><a th:href="'/users/' + ${el.id}">
                        <i class="fa-solid fa-eye" title="View"></i>
                    </a>
                    </td>
                    <td><p th:text="${el.email}"></p></td>
                    <td><p th:text="${el.firstName}"></p></td>
                    <td><p th:text="${el.lastName}"></p></td>
                    <td><p th:text="${el.patronymicName}"></p></td>
                </tr>

            </div>
            </tbody>

        </table>

    </div>
</div>
</body>
</html>
