<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Show</h1>
        <h2>Requests</h2>
        <h3><a th:href="@{requests/create}" class="button-active">Create request</a></h3>
    </div>
    <div class="main-area">
        <div th:insert="~{plugins/pagination::pagination}" th:with="firstVer=${requests}"></div>
        <table class="table">
            <tr class="table-header">
                <th></th>
                <th></th>
                <th></th>
                <th>Users</th>
                <th>Courses</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tr th:each="request : ${requests}" class="table-data">
                <td>
                    <a th:href="@{/requests/__${request.id}__}" class="button">
                        <i class="fa-solid fa-eye" title="View"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/requests/update/__${request.id}__}" class="button">
                        <i class="fa-solid fa-file-pen" title="Edit"></i>
                    </a>
                </td>
                <td></td>
                <td>
                    <a th:href="@{/users/__${request.user.id}__}"
                       th:text="${request.user.firstName} + ' ' + ${request.user.lastName}">User</a>
                </td>
                <td>
                    <a th:href="@{/courses/__${request.course.id}__}" th:text="${request.course.title}">Course title</a>
                </td>
                <td th:text="${request.status}"></td>
                <form th:action="'/requests/update/' + ${request.id}" method="post">
                    <td>
                        <input type="hidden" name="user.id" th:value="${request.user.id}">
                        <input type="hidden" name="course.id" th:value="${request.course.id}">
                        <input type="hidden" name="status" th:value="CANCELLED">
                        <input type="submit" value="Deactivate" class="button-active"/>
                    </td>
                </form>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
