<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav th:replace="~{plugins/menu :: menu}" class="menu"></nav>

<div class="main">
    <div class="left-side-area">
        <h1 class="header">View</h1>
        <h2>Request number: <span th:text="${request.id}"></span></h2>
        <a th:href="@{/requests/update/__${request.id}__}" class="button-active">Edit request</a>
    </div>

    <div class="main-area">
        <table>
            <tr>
                <td>User name</td>
                <td><input type="text" th:value="${request.user.firstName} + ' ' + ${request.user.lastName}" disabled>
                </td>
            </tr>
            <tr>
                <td>Curse</td>
<!--                <td><input type="text" th:value=${request.course.title} disabled></td>-->
            </tr>
            <tr>
                <td>Status</td>
                <td><input type="text" th:value=${request.status} disabled></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
