<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu::menu}"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Show</h1>
        <h2>Requests</h2>
        <h3><a th:href="@{/courses}" class="button-active">Sign up for a course</a></h3>
    </div>
    <div class="main-area">
        <table class="table">
            <tr class="table-header">
                <th>Courses</th>
                <th>Status</th>
                <th>Subscription</th>
            </tr>
            <tr th:each="request : ${requests}" th:object="${request}" class="table-data">
                <td><a th:href="@{/courses/__*{course.id}__}" th:text="*{course.title}">Course title</a></td>
                <td th:text="${request.status}"></td>
                <form th:action="'/requests/update/' + ${request.id}" method="post" th:object="${request}" th:unless="${request.status.toString()} == 'CANCELLED'">
                    <td>
                        <input type="hidden" name="user.id" th:value="*{user.id}">
                        <input type="hidden" name="course.id" th:value="*{course.id}">
                        <input type="hidden" name="status" th:value="CANCELLED">
                        <input type="submit" value="Cancel subscription" class="button-active"/>
                    </td>
                </form>
                <td th:if="${request.status.toString()} == 'CANCELLED'"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
