<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit request</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}" class="menu"></nav>
<div class="main">
    <div class="left-side-area">
        <h1 class="header">Update</h1>
        <h2>Request number: <span th:text="${request.id}"></span></h2>
    </div>
    <div class="main-area">
        <form th:action="'/requests/update/' + ${request.id}" method="post" th:object="${request}">
            <table>
                <tr>
                    <td>User name</td>
                    <td><input type="text" th:value="*{user.firstName} + ' ' + *{user.lastName}" disabled></td>
                    <input type="hidden" name="user.id" th:value="*{user.id}">
                </tr>
                <tr>
                    <td>Curse</td>
<!--                    <td><input type="text" th:value=*{course.title} disabled></td>-->
<!--                    <input type="hidden" name="course.id" th:value="*{course.id}">-->
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:if="${#strings.toString(request.status)} == 'PROCESSING'">
                        <select name="status">
                            <option value="PROCESSING" selected>PROCESSING
                            <option value="APPROVED">APPROVED
                            <option value="PAID" disabled>PAID
                            <option value="SATISFIED" disabled>SATISFIED
                            <option value="CANCELLED">CANCELLED
                        </select>
                    </td>
                    <td th:if="${#strings.toString(request.status)} == 'APPROVED'">
                        <select name="status">
                            <option value="PROCESSING" disabled>PROCESSING
                            <option value="APPROVED" selected>APPROVED
                            <option value="PAID">PAID
                            <option value="SATISFIED" disabled>SATISFIED
                            <option value="CANCELLED">CANCELLED
                        </select>
                    </td>
                    <td th:if="${#strings.toString(request.status)} == 'PAID'">
                        <select name="status">
                            <option value="PROCESSING" disabled>PROCESSING
                            <option value="APPROVED" disabled>APPROVED
                            <option value="PAID" selected>PAID
                            <option value="SATISFIED">SATISFIED
                            <option value="CANCELLED">CANCELLED
                        </select>
                    </td>
                    <td th:if="${#strings.toString(request.status)} == 'SATISFIED'">
                        <select name="status">
                            <option value="PROCESSING" disabled>PROCESSING
                            <option value="APPROVED" disabled>APPROVED
                            <option value="PAID" disabled>PAID
                            <option value="SATISFIED" selected>SATISFIED
                            <option value="CANCELLED">CANCELLED
                        </select>
                    </td>
                    <td th:if="${#strings.toString(request.status)} == 'CANCELLED'">
                        <select name="status">
                            <option value="PROCESSING" disabled>PROCESSING
                            <option value="APPROVED" disabled>APPROVED
                            <option value="PAID" disabled>PAID
                            <option value="SATISFIED" disabled>SATISFIED
                            <option value="CANCELLED" selected>CANCELLED
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" name="submit" value="Save" class="button-active"/>
        </form>
    </div>
</div>
</body>
</html>
